[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-yasg = {extras = ["validation"], version = "*"}
djangorestframework-simplejwt = "*"
django-cors-headers = "*"

[dev-packages]
black = "==19.10b0"
flake8 = "*"

[requires]
python_version = "3.9"
