a {
  text-decoration: none;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 15%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  transition: 0.5s;
  transform: translateX(-100%);
}

.menu_active {
  transform: translateX(0%);
}

.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: left;
  height: 50%;
  flex-direction: column;
}

.menu-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
  color: antiquewhite;
}

.menu-btn {
  width: 30px;
  height: 30px;
  background-color: #333;
  position: absolute;
  right: -35px;
  top: 10px;
  text-align: center;
  border-radius: 5px;
}

.menu-btn i {
  color: antiquewhite;
}

.container {
  transition: 0.5s;
  position: relative;
  z-index: 0;
}

.content_active {
  transform: translateX(30%);
}

.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

.card-custom-img::after {
  position: absolute;
  content: "";
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

.fa-star:hover {
  color: orange;
  cursor: pointer;
}

.checked {
  color: orange;
}

@media (max-width: 768px) {
  .menu {
    width: 50%;
  }
}

.ui-datepicker .selected-start:not(.selected-end) a,
.ui-datepicker .selected-end:not(.selected-start) a {
  background: #F3FDD5;
}

.ui-datepicker .selected.first-of-month:not(.selected-start) a {
  border-left: 2px dotted #D4E7F6;
  padding-left: 1px;
}

.ui-datepicker .selected.last-of-month:not(.selected-end) a {
  border-right: 2px dotted #D4E7F6;
  padding-right: 1px;
}

#date_range_multiple{ width: 350px; }

.disabled {
  display: none;
}
