a {
  text-decoration: none;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  transition: 0.5s;
  transform: translateX(-100%);
}

.menu_active {
  transform: translateX(0%);
}

.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: left;
  height: 50%;
  flex-direction: column;
}

.menu-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
  color: antiquewhite;
}

.menu-btn {
  width: 30px;
  height: 30px;
  background-color: #333;
  position: absolute;
  right: -35px;
  top: 10px;
  text-align: center;
  border-radius: 5px;
}

.menu-btn i {
  color: antiquewhite;
}

.container {
  transition: 0.5s;
  position: relative;
  z-index: 0;
}

.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

.card-custom-img::after {
  position: absolute;
  content: "";
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

.fa-star:hover {
  color: orange;
  cursor: pointer;
}

.checked {
  color: orange;
}


.ui-datepicker .selected-start:not(.selected-end) a,
.ui-datepicker .selected-end:not(.selected-start) a {
  background: #F3FDD5;
}

.ui-datepicker .selected.first-of-month:not(.selected-start) a {
  border-left: 2px dotted #D4E7F6;
  padding-left: 1px;
}

.ui-datepicker .selected.last-of-month:not(.selected-end) a {
  border-right: 2px dotted #D4E7F6;
  padding-right: 1px;
}

#date_range_multiple{ width: 350px; }

.disabled {
  display: none;
}

.tag{
  width: 5em;
  height: 50px;
  -webkit-border-radius: 25px; 
  -moz-border-radius: 25px; 
  border-radius: 25px; 
  float: right;
}
#main-title {
  font-size:200%;
  margin-top: -5em;
  padding-bottom: 4em;
}
.for-form {
  width: 50%;
  margin: 0 auto;
}
.wth-1 {
width: 75%;
}
.wth-2 {
width: 25%;
}
.detail-btn {
  width: 300px
}
@media (max-width: 1440px) {
  .menu {
    width: 23%;
  }
}
@media (max-width: 1200px) {
  .wth-1 {
    width: 70%;
    }
    .wth-2 {
    width: 30%;
    }
}
@media (max-width: 1024px) {
  .menu {
    width: 33.5%;
  } 
} 
@media (max-width: 992px) {
  .btn {
    font-size: 15px;
  }
  .menu {
    width: 30%;
  }
  .for-form {
    width: 60%;
  }
  .wth-1 {
    width: 66%;
    }
    .wth-2 {
    width: 35%;
    }
}
@media (max-width: 768px) {
  .for-form {
  width: 65%;
  }
  .menu {
    width: 46%;
  }
  .wth-1 {
    width: 100%;
  }
  .wth-2 {
    width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 520px) {
  .wth-2 {
    width: 65%;
  }
}
@media (max-width: 494px) {
  .wth-2 {
    width: 70%;
  }
}
@media (max-width: 425px) {
  .for-form {
    width: 85%;
  }
  .menu {
    width: 78%;
  }
  .wth-2 {
    width: 80%;
  }
  .card-col {
    width: 91.6%;
  }
}
@media (max-width: 375px) {
  .wth-2 {
    width: 90%;
  }
  .card-col {
    width: 100%!important;
  }
}
@media (max-width: 320px) {
  .justify-content-center {
    justify-content: stretch!important;
  }
  .detail-btn {
    width: 250px!important;
  }
}