body.dark {
    background: #303133;
    color: #fff;
}

body.dark .content {
    box-shadow: 0 0 5px #1d2225;
}

body.dark button:hover {
    box-shadow: 0 0 10px #1d2225;
}

body.dark th {
    color: #fff;
}

body.dark small {
    color: #fff;
}

.content {
    width: 55%;
    margin: auto;
    box-shadow: 0 0 3px silver;
    padding: 20px;
    height: calc(100vh - 100px - 40px);
}

section:not(:first-child) {
    margin-top: 30px;
}

.desc {
    margin: 10px 0;
    opacity: .7;
}

#toggleThemeBtn {
    color: #fff;
    padding: 10px 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: #111;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}