{% extends 'base_projects.html' %}


{% block title %}
    Научный руководитель
{% endblock title %}


{% block content %}
<form class="pt-5" style="width: 50%; margin: 0 auto;" method="post" enctype="multipart/form-data">
    <h1>Добавить участников команды </h1>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn mt-3" style="background-color: rgb(170, 170, 255);">Сохранить</button>
    <a href="{% url 'niokr_project_create_url' %}" class="btn mt-3" style="background-color: rgb(170, 170, 255);">Пропустить</a>
</form>
{% endblock content %}