{% extends 'base_projects.html' %}


{% block title %}
    Научный руководитель
{% endblock title %}


{% block content %}
<form class="pt-5" method="post" enctype="multipart/form-data">
    <h1>Добавить  научного руководителя </h1>
    {% csrf_token %}
    <p class="card-text"><h6>ФИО:</h6> {{ form.fullname }}</p>
    <p class="card-text"><h6>Номер телефона:</h6> {{ form.phone }}</p>
    <p class="card-text"><h6>Почтовый адрес:</h6> {{ form.email }}</p>
    <p class="card-text"><h6>Ученые степени/квалификации:</h6> {{ form.academic_degrees }}</p>
    <p class="card-text"><h6>Ученые звания:</h6> {{ form.academic_titles }}</p>
    <p class="card-text"><h6>Фото:</h6> {{ form.photo }}</p>
    <button type="submit" class="btn mt-3" style="position: relative; left: 40%; transform: translate(-50%, 0); background-color: rgb(170, 170, 255);">Добавить</button>
    <a type="submit" href="{% url 'niokr_team_create_url' %}" class="btn mt-3" style="position: relative; left: 50%; transform: translate(-50%, 0); background-color: rgb(170, 170, 255);">Сохранить и добавить члена команды</a>
    <a type="submit" href="{% url 'niokr_project_create_url' %}" class="btn mt-3" style="position: relative; left: 50%; transform: translate(-50%, 0); background-color: rgb(170, 170, 255);">Пропустить</a>
</form>
{% endblock content %}