{% extends 'base_projects.html' %}
{% load static %}

{% block title %}
    {{ project.name }}
{% endblock title %}

{% block content %}
    <h1 class="mt-5">
        {{ project.name }}
    </h1>
    <h4>
        <p>{{ project.user }}</p>
    </h4>
    <h3>
        <a href='{{ item.project_site }}' >{{ project.site }}</a>
    </h3>
    <h4>
        <p>{{ project.description }}</p>
    </h4>
    <h4>
        <p>{{ project.note }}</p>
    </h4>
    <h4>
        {% if project.responsible %}
            <p> Ответственный: {{ project.responsible }}</p>
        {% else %}
            {% if request.user.is_staff %}
                <a href ="#" class="btn mt-3" style="background-color: rgb(170, 170, 255);"> Назначить ответственного </a>
            {% else %}
                <p> Ответственный не указан </p>   
            {% endif %}
        {% endif %}
    </h4>
{% endblock content %}