{% extends 'base_projects.html' %}


{% block title %}
  Все проекты
{% endblock title %}


{% block tabs %}
<div class="container" style="margin-top: 5; ">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название проекта</th>
        <th scope="col">Сайт</th>
        <th scope="col">Описание</th>
        <th scope="col">Примечание</th>
        <th scope="col">Ответственный</th>
      </tr>
    </thead>
    <tbody>
      {%for item in project%}
        <tr>
          <th scope="row">{{item.id}}</th>
          <th scope="row"><a href="{% url 'project_detail_url' item.id %}">{{item.name}}</a></th>
          <td><a href="{{ item.site }}">Ссылка</a></td>
          <th scope="row">{{item.description}}</th>
          <th scope="row">{{item.note}}</th>
          <td>
            <small>{% if item.responsible %}{{ item.responsible }}{% else %}Ответственный не указан{% endif %}</small>
          </td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock tabs %}