{% extends 'base_projects.html' %}


{% block title %}
	Редактировать НИОКР
{% endblock %}

{% block content %}
<form actions="{{niokr_project.get_update_url}}" method='post' enctype="multipart/form-data" class="pt-5 for-form">
	{% csrf_token %}

    {% csrf_token %}
    <p class="card-text"><h6>Тема НИОКР:</h6> {{ form.theme }}</p>
    <p class="card-text"><h6>Базовая организация:</h6>
        <input type="text" name="base_organisation" maxlength="150" class="form-control" required="" id="id_base_organisation" list="base_organisationList" autocomplete="off" value="{{form.instance.base_organisation}}">
        <datalist id="base_organisationList">
            {% for org in base_org %}
                <option value="{{org}}">
            {% endfor %}
        </datalist>
    </p>
    <p class="card-text"> <h6>Дата начала исследований:</h6> <input type="date" name="data_project_start" class="form-control" required="" id="id_data_project_start" value="{{ form.instance.date|date:'Y-m-d' }}"></p>
    <p><h6>Сайт:</h6> {{ form.site }}</p>
    <p class="card-text"> <h6>Научная новизна:</h6> {{ form.science_novelty }}</p>
    <p class="card-text"> <h6>Коммерческий результат:</h6> {{ form.commercial_result }}</p>
    <div id="grants"> <h6>Перечислите все гранты через запятую:</h6> {{ form.grants }}</div>
    <div id="patents"> <h6>Перечислите все патенты через запятую:</h6> {{ form.patents }}</div>
    <p class="card-text"> <h6>Оборудование, необходимое для реализации проекта:</h6> {{ form.equipment }}</p>
    <p class="card-text"> <h6>Аннотация к НИОКР:</h6> {{ form.annotation }}</p>
    <p class="card-text"> <h6>Обложка:</h6>  {{ form.cover }}</p>
    <p>Загрузить через ссылку <input type="checkbox" id="checkbox"></p>
    <p class="card-text"> <h6>Выберите научного руководителя:</h6>  {{ form.responsible }}</p>
    <p class="card-text"> <h6>Выберите членов команды:</h6>  {{ form.team }}</p>
	<button type="submit" class="btn mt-3 mb-5" style="position: relative; left: 50%; transform: translate(-50%, 0); background-color: rgb(170, 170, 255);">Изменить</button>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    $('#checkbox').click(function(){
        if ($(this).is(':checked')){
            $('#id_cover').replaceWith('<input type="text" name="cover" class="form-control" id="id_cover">')
        } else {
            $('#id_cover').replaceWith('<input type="file" name="cover" accept="image/*" class="form-control" id="id_cover">')
        }
    }); 
</script>   
{% endblock %}